*{
    font-family: 微軟正黑體;
}
html, body{
    margin: 0;
    height: 100%;
}
nav{
    background: #524A4A;
    color: #A59696;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 10px;
    font-size: 32px;
}
a{
    text-decoration: none;
}

/* flex series */
.d-flex{
    display: flex;
}
.align-items-center{
    align-items: center;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.flex-end{
    justify-content: flex-end;
}
/* background themes */
.bg-primary{
    background: #524A4A;
}
.bg-secondary{
    background: #A59696;
}
.btn{
    cursor: pointer;
    color: #fff;
    background: none;
}
.btn:focus{
    outline: none;
}
.btn-chip{
    background: #fff;
    color: #524A4A;
    font-weight: bold;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 25px;
}
.btn-round{
    width: 100px;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-fab{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-light{
    color: #fff;
}
.text-muted{
    color: #aaa;
}
.text-small{
    font-size: 0.8em;
    white-space: pre;
}
.ma-1{
    margin: 5px;
}
.ma-3{
    margin: 15px;
}
.mt-1{
    margin-top: 5px;
}
.mx-1{
    margin-left: 5px;
    margin-right: 5px;
}
.mx-3{
    margin-left: 15px;
    margin-right: 15px;
}
.pa-1{
    padding: 5px;
}
.pa-3{
    padding: 15px;
}